/* === FORMS === */
.add-card-form {
    @apply flex flex-col shrink-0;
    gap: 5px;
    margin-top: 8px;
}

.add-card-form input[type="text"] {
    @apply bg-surface text-base;
    padding: 10px 12px;
}

/* === ERROR === */
.error {
    @apply bg-danger-bg text-danger-text rounded-sm mb-4 text-sm;
    padding: 8px 12px;
}
